.flex-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(206, 224, 241);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
  }
